.about {
  background-color: $carbon-black;
  color: white;
  width: 100%;
  min-height: 100vh;

  .h1 {
    padding-bottom: 25px;
  }
  h3 {
    padding-bottom: 25px;
  }
  .next-btn {
    padding-top: 8vw;
  }

  .view-1,
  .view-2 {
    margin: 10vw 0;
  }
  .view-2 {
    margin-bottom: 6vw;
  }
}
