body.portfolio-template {

  section.project-nav {
    display: inline-block;

    .list-cont {
      margin-top: -25px;
      padding-left: 0;
      padding-right: 0;

      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: center;
        }
      }

      /* Desktop View */
      @media only screen and (min-width: 768px) {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;

          ul {
            list-style: none;
            padding-top: 10vw;
            padding-left: 10vw;

            li {
              padding: 7.5px 25px;
              text-align: left;
              white-space: nowrap;
              @include transition(padding-left .3s ease-out);

              &.active {
                padding-left: 5vw;
              }

              a {
                &:hover {
                  color: $brick-red;
                  text-decoration: none;
                }
              }
            }
          }
      }
    }
  }

  section.img-gallery {
    position: relative;
    display: inline-block;
    float: right;
    height: 100vh;
    width: 45vw;

    .bg-color {
      position: absolute;
      height: 100%;
      width: 100%;
      @include transition(background-color .3s ease-out);

      &.proj {
        &--1 {
          background-color: $red-purple;
        }
        &--2 {
          background-color: $purple;
        }
        &--3 {
          background-color: $gray;
        }
        &--4 {
          background-color: $brick-red;
        }
        &--5 {
          background-color: $crimson;
        }
      }
    }

    .img-cont {
      position: absolute;
      top: 50%;
      left: -55%;
      height: 45vw;
      width: 45vw;
      overflow: hidden;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      @include transform(translateY(-50%));
      @include css3-prefix(box-shadow, 2px 3px 11px -2px rgba(0,0,0,0.2));
      @include transition(box-shadow .3s ease-out);

      &:hover{
        @include css3-prefix(box-shadow, 2px 3px 11px -2px rgba(0,0,0,0.75));
      }

      img {
        object-fit: cover;
      }
    }
  }

}
