.projects {

  section.hero {

    .feat-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 45vh;
      @media only screen and (min-width: 768px) {
        height: 100vh;
      }
    }

    .copy-cont {
      display: block;
      margin: 0 auto;
      padding-top: 6vw;
      width: 87.5%;

      .tile-row {
        padding-top: 7.5px;
        @media only screen and (min-width: 768px) {
          &::after {
            content: "";
            width: 95%;
            height: 1px;
            margin-left: 16px;
            background-color: $carbon-black;
          }
        }
      }
      .desc-row {
        padding-top: 7.5px;

        ul {
          list-style: none;
          padding-left: 5px;

          &.tech {
            li {
              display: inline-block;
              padding-right: 6%;
            }
          }
        }
      }
      .mobile-line {
        width: 100%;
        height: 1px;
        background-color: $carbon-black;
        margin: 15px 0 10px 0;
      }
    }
  }

  section.tech {
    ul {
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }


  section.img-showcase {
    margin-top: 5vw;
    padding-bottom: 2vw;

    .img-cont {
      margin-top: 3vw;
    }
  }
}
