$base : #ffffff;
$darken : darken(#ffffff , 10%);
$back: darken(#ffffff, 20%);

$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$black: #000000;
$carbon-black: #171717;

$purple: #684579;
$red-purple: #7f1a64;
$brick-red: #b3274a;
$crimson: #E8332E;

$white: #ffffff;

$light-gray: #efefef;
$gray: #333333;
