@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="about">

  <section class="view-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>About</h1>
        </div>
        <div class="col-12">
          <p>Hi, my name is ________ </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 mt-5">
          <p>Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor hodor?!</p>
        </div>
        <div class="col-12 col-md-5 offset-md-2 mt-5">
          <p class="mt-5 pt-5">Hodor hodor hodor hodor hodor? Hodor hodor - hodor... Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <div class="next-btn">Services</div>
        </div>
      </div>
    </div>
  </section>

  <section class="view-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1">What I Do</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 mb-5">
          <h3>Web Design</h3>
          <p>Hodor! Hodor hodor, HODOR hodor, hodor hodor. Hodor, hodor. Hodor. Hodor, hodor - hodor hodor hodor?! Hodor hodor HODOR! Hodor hodor hodor, hodor, hodor hodor. Hodor hodor - hodor hodor hodor?! Hodor, hodor. Hodor. Hodor, hodor... Hodor hodor hodor - hodor?</p>
        </div>
        <div class="col-12 col-md-5 offset-md-2 mb-5">
          <h3>Digital Strategy</h3>
          <p>Hodor, hodor. Hodor. Hodor, hodor; hodor hodor - hodor hodor. Hodor. Hodor hodor; hodor hodor... Hodor hodor hodor hodor hodor? Hodor. Hodor hodor; hodor HODOR hodor, hodor hodor, hodor, hodor hodor. Hodor! Hodor hodor, hodor, hodor. Hodor hodor hodor! Hodor, hodor... Hodor hodor, hodor. Hodor hodor; hodor hodor?! Hodor hodor - hodor - hodor hodor hodor. Hodor. Hodor hodor, hodor. Hodor hodor; hodor hodor hodor hodor.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 mt-5">
          <h3>Online Content</h3>
          <p>Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor hodor?!</p>
        </div>
        <div class="col-12 col-md-5 offset-md-2 mt-5">
          <h3>Website Development</h3>
          <p>Hodor. Hodor hodor hodor hodor; hodor hodor, hodor, hodor hodor. Hodor hodor HODOR! Hodor hodor... Hodor hodor hodor hodor... Hodor hodor HODOR hodor, hodor hodor?! Hodor hodor hodor hodor; hodor hodor?! Hodor hodor HODOR! Hodor hodor; hodor hodor?! Hodor. Hodor hodor hodor hodor hodor!</p>
        </div>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
