@@include('../fixtures/_header.html')
@@include('../fixtures/navs/_nav_contact.html')

<main class="contact">

  <section class="hero-cont">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Thanks for stopping by</p>
          <h1>Contact Me</h1>
        </div>
      </div>
      <div class="row copy-cont reveal-stagger">
        <div class="col-12 col-md-3">
          <a href="mailto:name@email.com?subject=feedback">
            <div class="contact-copy reveal-elmt">Email:</div>
            <p>emailname@email.com</p>
          </a>
        </div>
        <div class="col-12 col-md-3">
          <a href="#">
            <div class="contact-copy reveal-elmt">Resume:</div>
            <p>download</p>
          </a>
        </div>
        <div class="col-12 col-md-3">
          <a href="github.com/" target="_blank">
            <div class="contact-copy reveal-elmt">More Projects:</div>
            <p>github.com/someusername</p>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
