@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main" role="main">

  <section class="img-gallery hidden-sm-down">
    <div class="bg-color"></div>

    <a href="/projects.html">
      <div class="img-cont" style="background-image: url('../assets/img/temp1.jpg')">
      </div>
    </a>
  </section>

  <section class="project-nav container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 list-cont">
        <ul class="project-list">
          <li class="proj-1 active">
            <img class="hidden-md-up img-fluid mb-5" src="../assets/img/temp1.jpg" alt="">
            <a href="/projects.html">Project One</a>
          </li>
          <li class="proj-2">
            <img class="hidden-md-up img-fluid my-5" src="../assets/img/temp2.jpg" alt="">
            <a href="/projects.html">Project Two</a>
          </li>
          <li class="proj-3">
            <img class="hidden-md-up img-fluid my-5" src="../assets/img/temp3.jpg" alt="">
            <a href="/projects.html">Project Three</a>
          </li>
          <li class="proj-4">
            <img class="hidden-md-up img-fluid my-5" src="../assets/img/temp4.jpg" alt="">
            <a href="/projects.html">Project Four</a>
          </li>
          <li class="proj-5">
            <img class="hidden-md-up img-fluid mt-5" src="../assets/img/temp5.jpg" alt="">
            <a href="/projects.html">Project Five</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
