@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main" role="main">

  <section class="project-nav container-fluid">
    <div class="row">
      <div class="col-5">
        <ul class="project-list">
          <li class="active"><a href="/projects.html">Project One</a></li>
          <li class=""><a href="/projects.html">Project Two</a></li>
          <li class=""><a href="/projects.html">Project Three</a></li>
          <li class=""><a href="/projects.html">Project Four</a></li>
          <li class=""><a href="/projects.html">Project Five</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="img-gallery">
    <div class="bg-color"></div>
    <div class="img-cont">
      <a href="/projects.html">
        <img class="project" src="https://picsum.photos/700/700/?random" alt="">
      </a>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
