@@include('../fixtures/_header.html')
@@include('../fixtures/navs/_nav_projects.html')

<main class="projects" role="main">

  <section class="hero" class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-5 col-xl-7 px-0 feat-img" style="background-image: url('../assets/img/temp5.jpg');">
        <!-- <img class="img-fluid" src="../assets/img/temp5.jpg"> -->
      </div>
      <div class="col-12 col-md-7 col-xl-5">
        <div class="copy-cont">
          <div class="row">
            <div class="col-12">
              <h2>Project Title</h2>
              <p>Description: Hodor. Hodor hodor hodor hodor; hodor hodor, hodor, hodor hodor. Hodor hodor HODOR! Hodor hodor?! Hodor hodor hodor hodor...</p>
            </div>
          </div>
          <div class="row tile-row">
            <div class="col-6 col-md-3">
              <h3>Year</h3>
              <p class="hidden-md-up">2017</p>
            </div>
            <div class="col-6 col-md-4">
              <h3>Location</h3>
              <p class="hidden-md-up">Chicago</p>
            </div>
            <div class="col-12 col-md-5">
              <h3>Client</h3>
              <p class="hidden-md-up"> — </p>
            </div>
          </div>
          <!-- <div class="mobile-line hidden-md-up"></div> -->
          <div class="row desc-row hidden-sm-down">
            <div class="col-3">
              <p>2017</p>
            </div>
            <div class="col-4">
              <p>Chicago</p>
            </div>
            <div class="col-5">
              <p> — </p>
            </div>
          </div>
          <div class="row tile-row">
            <div class="col-12">
              <h3>Deliverables</h3>
            </div>
          </div>
          <div class="row desc-row">
            <div class="col-12">
              <ul>
                <li>Animations</li>
                <li>Responsive Design</li>
                <li>Web Accessibility Standards</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <img class="img-fluid" src="../assets/img/temp1.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-8 mx-auto text-center">
        <h2>Animations</h2>
        <p>Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor hodor?!</p>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <img class="img-fluid" src="../assets/img/temp2.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-8 mx-auto text-center">
        <h2>Responsive Design</h2>
        <p>Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor hodor?!</p>
      </div>
    </div>
  </section>

  <section class="img-showcase" class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <img class="img-fluid" src="../assets/img/temp3.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-8 mx-auto text-center">
        <h2>Web Accessibility Standards</h2>
        <p>Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor hodor?!</p>
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
